.career_container {
    position: relative;
    z-index: 100;
    color: black;
    width: 100%;
    background-color: white;
}


.carrer_title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    padding-top:200px;
}

.carrer_interview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 40px;
}
.interview_card {
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(237, 237, 237, 0.288);
    border: 1px solid lightgray;
    width: 90%;
    box-sizing: border-box;
    max-width: 90%;
    .card_title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px
    }

    .card_contents {

    }
}

.carrer_skills {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    gap: 40px;
    padding-bottom: 120px;
}

.skills_title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.skills_contents {
    display: flex;
    gap: 10px;
}


.skills_card {
    flex: 1;
}
.skills_mini_card {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;


    img {
        border-radius: 10px;
        width: 40px;
        height: 40px
    };
}

@media only screen and (min-width: 769px)  {

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .carrer_skills {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .carrer_skills {
        display: flex;
        flex-direction: column;
    }
}