.career_container {
    width: 100%;
    z-index: 1000;
    background-color: white;
    color: black;
    position: relative;
}


.career_menu {
    width: 150px;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    top: 20px;
    margin-left: 50px;
    position: sticky;
    position: -webkit-sticky; /* for Safari */
}

.menu_inActive {
    transition: 0.3s;
    color: #b6b6b6;
}

.menu_active {
    transition: 0.3s;

}

.career {
    margin-top: -100px;
    margin-bottom: 100px;
    position: relative;
    top: 0px;
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    overflow: auto;
    display: flex;
    gap: 20px;

    background-color: white;
    ul {
        margin-bottom: 15px;

    }

    li {
        margin-left: -15px;

    }
}

.career_card {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    
    box-shadow: 0px 0px 5px lightgray;
    display: flex;
    flex-direction: column;
}

.career_date {
    color: gray;
    font-size: 15px;
    margin-bottom: 15px;
}

.career_company {
    font-size: 18px;
    font-weight: bold;
}

.career_dev {
    font-size: 15px;
    margin-top: 5px;
    color: gray;

}

@media only screen and (min-width: 769px) {
    .career_menu {
        font-size: 30px;
        font-weight: bold;
    }

    .career {
        margin-left: 300px;
        width: calc(90% - 250px);
        overflow: auto;
    }

    .career_card {
        min-width: 400px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .career_menu {
        top:20px;
        display: flex;
        gap: 30px;
        font-size: 30px;
        font-weight: bold;
        flex-direction: row;
        z-index: 100;
        margin-bottom: 100px;
    }

    .career {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }

    .career_card {
        overflow: none;
    }
}

@media only screen and (max-width: 600px) {
    .career_menu {
        top:20px;
        display: flex;
        gap: 30px;
        font-size: 30px;
        font-weight: bold;
        flex-direction: row;
        z-index: 100;
        margin-bottom: 100px;
        margin-left: 30px;
    }

    .career {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }

    .career_card {
        overflow: none;
    }

}

.project {
    width: 100%;
}

.education {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
