.project_card_container:hover {
    top: -10px;
    box-shadow:  0px 0px 5px lightgray;
}

.editor_container {
    img {
        width: 30%;
        box-shadow: 0px 0px 5px lightgray;
        border-radius: 5px;
    }
}

/* 코드 블럭 */
div > code {
    padding-left: 0px;
    padding-right: 0px;
}

/* 인용문 */
blockquote {
    margin: 0px;
    border-left: 4px solid lightgray;
    font-size: 20px;
    font-weight: 500;
    height: 35px;
    line-height: 35px;

    p {
        margin-left: 10px;
    }

    p::before {
        content: '📕 ';
    }
}

/* 토글 디자인 */
summary {
    cursor: pointer;
    background-color: #EFF1F3;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;

    &::marker {
        content: '🔖 ';
    }
}

details {
}

summary:hover {
    background-color: #e3e4e6;
}

/* 작은 코드 블럭 */
code {
    font-family: 'Pretendard';
    padding-left: 8px;
    padding-right: 8px;
    background-color: #EFF1F3;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
}

.project_card_container {
    cursor: pointer;
    top: 0px;
    transition: 0.2s;
    width: 20vw;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 450px;



    .title {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .description {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .tags {
        position: absolute;
        left: 10px;
        bottom: 10px;
        display: flex;
        gap: 5px;
        div {
            border-radius: 5px;
            padding: 5px;
            background-color: gray;
            color: white;
            font-size: 13px;
            
        }
    }
}

@media screen and (min-width: 1024px) {
    /* Desktop */
  }
@media screen and (min-width: 768px) and (max-width: 1023px) {
/* Tablet */
    .project_card_container {
        width: 60vw;
    }
}
@media screen and (max-width: 767px) {
/* Tablet */
    .project_card_container {
        width: 70vw;
    }
}


.project_detail_header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project_title {
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 25px;
    }

    .project_date {
        display: flex;
        gap: 15px;
        font-size: 14px;
        color: gray;
    }

    .close_btn {
        z-index: 1000;
        position: fixed;
        right: 35px;
        top: 53px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .close_btn_card {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
            width: 20px;
            height: 20px;
        }

        div {
            width: 100px;
            top: 65px;
            position: absolute;
            text-align: center;
            color: black;
        }
    }
}
.project_tags {
    font-size: 12px;
    display: flex;
    gap: 10px;

    div {
        border: 1px solid lightgray;
        padding: 5px;
        box-shadow: 0px 0px 3px lightgray;
        border-radius: 5px;
    }
}

.project_detail_background {
    overflow-y: scroll;
    z-index: 500;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    
    .project_detail_modal {
        border-radius: 10px;
        margin-top: 50px;
        z-index: 600;
        width: calc(100% - 200px);
        left: 0px;
        background-color: white;
        position: relative;
        top: 0px;   
        margin-bottom: 50px;
        margin-left: 100px;
    }
}