@font-face {
    font-family: 'Pretendard';
    src: url('/src/assets/fonts/Pretendard.ttf') format("turetype");
}

* {
    font-family: 'Pretendard';
}

.App {
}

html, body {
    overflow-x: hidden;
    width: 100%;
}